
$blackUno: #000000;
$FuentePrincipal: poppins;

$fuenteBajo: 15px;
$fuenteMedio: 16px;
$fuenteAlto: 18px;

$marPadMuyBajo: 10px;
$marPadBajo: 20px;
$marPadMedio: 30px;
$MarPadAlto: 40px;
$marPadMuyAlto: 50px;

$bordeGris: #bbbb;
$bordeGrisOscuro: #9999;